/* ========================================================================================================== */
/* GLOBAL */

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.address {
  font-style: normal;
}

.link-icon {
  text-decoration: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--hero-text);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
}
/* ============================================================================================================= */
/* KOLOR */

:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: #e7e9fc;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
  --social-link: rgba(255, 255, 255, 0.1);
  --hero-text: #fff;
  --modal-desk: #757575;
  --modal-btn: #000;
  --modal-background-color: #fcfcfc;
  --radius-butoon: 4px;
  --gap-column: 24px;
  --column: 3;
  --indent-sections: 120px;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --trns-fast: 400ms;
  --trns-slow: 800ms;
}


/* ============================================================================================================= */
/* TEXT */




.social-title,
.subscribe-text {
  color: var(--hero-text);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}




.hero-headline {
  width: 496px;
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  line-height: calc(60 / 56);
  color: var(--hero-text);
  letter-spacing: 0.02em;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--pressed-state-color);
}

.button {
  background: var(--primary-brand-color);
  color: var(--hero-text);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: var(--radius-butoon);
  border: none;
  cursor: pointer;
  outline: none;
}

.work,
.worker,
.customer {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
  margin-bottom: 72px;
}

.worker-section {
  background-color: var(--light-color);
}

.worker-item {
  background-color: var(--hero-text);
}

.filters-list {
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background: var(--light-color);
}

.filters-list:hover,
.filters-list:focus {
  color: var(--hero-text);
  background: var(--pressed-state-color);
}

.text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
}

.headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);
  padding-bottom: 8px;
}

/* ============================================================================================================= */
/* INDENT TEXT  */

/* HEADER  */

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav {
  display: flex;
  align-items: center;
}

.link-icon {
  display: block;
}

.link-icon,
.button,
.subscribe-button,
.modal-form-button {
  transition-property: background-color, color, border, fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.nav .link-icon,
.address .link-icon {
  padding-top: 24px;
  padding-bottom: 28px;
  position: relative;
}

.nav-link.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  right: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-state-color);
}

.nav-link.current {
  color: var(--pressed-state-color);
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 40px;
  margin-left: 76px;
}

.address {
  margin-left: auto;
}

.address-list {
  display: flex;
  justify-content: end;
  column-gap: 40px;
}

.nav-link,
.address-item,
.portfolio-list {
  color: inherit;
  font-size: 16px;
  line-height: 1.5;
}

.menu li:first-child .nav-link,
.address-list li .address-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link,
.social-title,
.subscribe-text {
  font-weight: 500;
}

.nav-link:hover,
.nav-link:focus,
.address-item:hover,
.address-item:focus {
  color: var(--pressed-state-color);
}

.nav,
.nav-link {
  color: var(--dark-color);
}

.logo {
  color: var(--primary-brand-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-second {
  color: var(--dark-color);
}


/* FOOTER */
.footer-logo .logo-second {
  color: var(--light-color);
}


.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--dark-color);
  color: var(--modal-overlay-color);
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.footer-logo {
  flex: 1;
  max-width: 300px;
  text-align: left;
}

.page-footer .text {
  color: var(--modal-overlay-color);
  font-size: 14px;
  line-height: 1.6;
  padding-top: 18px;


}

.social {
  display: block;
  flex: 1;
  max-width: 300px;
  text-align: left;
  margin-left: 120px;
}

.subscribe {
  flex: 1;
  text-align: left;
}

.subscribe-text {
  color: var(--hero-text);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-email {
  width: 264px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color:  var(--hero-text);
  user-select: none;
  background-color: inherit;
  border: 1px solid var(--hero-text);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 40px;
}

.subscribe-email:focus,
.subscribe-email:focus-visible {
  outline-color: rgba(0, 0, 0, 0.15);
  transition: outline-color var(--trns-fast);
}

.subscribe-button {
  min-width: 165px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
}

.subscribe-icon {
  margin-left: 16px;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background: var(--pressed-state-color);
}

.social-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.page-footer .social-list {
  gap: 16px;
}

.social-cell {
  width: 40px;
  height: 40px;
}

.social-title,
.subscribe-text {
  margin-bottom: 16px;
  

}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  color: var(--light-color);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--success-color);
}

.social-icon {
  display: block;

  fill: var(--light-color);
  width: 24px;
  height: 24px;
}

/* ============================================================================== */
/* PAGE STUDIO */

/* SECTION 1 */

.page-hero {
  display: block;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--dark-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Hero/people-office.jpeg);
}

.hero-headline {
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  margin-top: 48px;
  width: 169px;
  height: 56px;
  padding: 15px 31px;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

/* SECTION 2 */

.feature-section {
  display: flex;
  justify-content: center;
  padding-top: var(--indent-sections);
  padding-bottom: var(--indent-sections);
}

.feature-list {
  display: flex;
  column-gap: var(--gap-column);
}

.feature-item {
  flex-basis: calc((100% / var(--column)) - var(--gap-column));
}

.feature-pictures {
  height: 112px;
  background: var(--light-color);
  border-radius: var(--radius-butoon);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-icons {
  display: block;
}
/* SECTION 3 */

.work-section {
  display: flex;
  justify-content: center;
  padding-bottom: var(--indent-sections);
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
  column-gap: var(--gap-column);
}

/* SECTION 4 */

.worker-section {
  padding-bottom: var(--indent-sections);
  padding-top: var(--indent-sections);
}

.worker {
  margin-bottom: 72px;
}

.worker-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--gap-column);
}

.worker-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.worker-text {
  padding: 32px 0;
  text-align: center;
}

.worker-text .text {
  margin-bottom: 8px;
}

.worker-link {
  background-color: var(--primary-brand-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--light-color);
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.worker-link:hover,
.worker-link:focus {
  background-color: var(--pressed-state-color);
}

/* SECTION 5 */

.customer-section {
  display: flex;
  justify-content: center;
  padding: 120px 0;
}

.customer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-column);
}

.customer-link {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  color: var(--subtle-text-color);
  padding: 15px 31px;
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  fill: currentColor;
  width: 100%;
  height: 100%;
  display: flex;
}

.customer-calc {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customer-link:hover,
.customer-link:focus {
  fill: var(--pressed-state-color);
  border: 1px solid var(--pressed-state-color);
  color: var(--pressed-state-color);
}

.customer-link.link-icon {
  transition: border-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
}

.customer-icon {
  display: block;
  border: none;
  fill: currentColor;
}

/**
  |============================
  | PORTFOLIO OVERLAY
  |============================
*/

@keyframes overlay {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.product {
  position: relative;
  overflow: hidden;
}

.product-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: var(--primary-brand-color);
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.finger-item .portfolio-list.link-icon {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.finger-item:hover .product-text,
.finger-item:focus-within .product-text {
  transform: translateY(0%);
}

/* .finger-item:not(:hover) .product-text,
.finger-item:not(:focus) .product-text {
  transition: transform 1s ease;
} */

.portfolio-section {
  padding-top: 96px;
  padding-bottom: var(--indent-sections);
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
  gap: var(--gap-column);
}

.filters-button {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border: 1px solid var(--accent-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-button:hover,
.filters-button:focus {
  background: var(--pressed-state-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: none;
}

.finger-container {
  justify-content: space-between;
  flex-wrap: wrap;
}

.finger-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--gap-column);
  row-gap: 48px;
}

.finger-item {
  flex-basis: calc((100% / var(--column)) - var(--gap-column));
}

.finger-item .portfolio-list {
  display: block;
}

.finger-text {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid var(--accent-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-top: none;
  
}

.finger-item:hover,
.finger-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.finger-item .portfolio-list.link-icon:hover,
.finger-item .portfolio-list.link-icon:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/**
  |============================
  | MODAL WINDOW
  |============================
*/

.modal-backdrop {
  position: fixed;
  padding: 72px 24px 24px 24px; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-delay: var(--transition-duration);
  
}

.modal-container {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column; /* Додав цю строку */
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  width: 408px;
  background: var(--modal-background-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow-y: auto;
  padding: 24px;
  transform: translate(-50%, -50%) scale(1);
  min-height: 584px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-btn {
  background-color: var(--modal-overlay-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  fill: var(--modal-btn);
  padding: 0;
  top: 24px;
  right: 24px;
  position: absolute;
  cursor: pointer;
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background: var(--pressed-state-color);
  border: none;
}

.modal-icon {
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
  fill: var(--hero-text);
}

.modal-icon label {
  display: block;
}

.modal-title {
  display: block;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  user-select: none;
  margin-top: 72px;
}

.modal-form-div {
margin-bottom: 8px;
}

.modal-comment {
  margin-bottom: 16px;
}

.modal-form-label,
.modal-form-comment,
.modal-form-desk,
.subscribe-form {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  user-select: none;
  color: var(--subtle-text-color);
}

.modal-form-comment {
  width: 100%;
  height: 120px; 
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent; 
  padding: 8px 16px; 
  outline: transparent; 
  resize: none; 
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-form-label {
  color: var(--subtle-text-color);
}

.modal-form-desk {
  color: var(--modal-desk);
}

.modal-form-group {
  position: relative;
  margin-bottom: 8px;
}

.modal-form-field {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: var(--radius-butoon);
  border: 1px solid rgba(46, 47, 66, 0.4); 
  /* padding-left: 38px; */
  padding-right: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  background-color: transparent; 
  outline: transparent;
}


.modal-form-field:focus,
.modal-form-field:focus-visible,
.modal-form-comment:focus,
.modal-form-comment:focus-visible {
  border-color: var(--primary-brand-color);
  transition: border-color var(--trns-fast);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  fill: var(--dark-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field:focus + .modal-form-icon {
  fill: var(--primary-brand-color);
}

.modal-form-comment {
  display: block;
  width: 100%;
  height: 120px;
  padding-top: 8px;
  padding-left: 16px;
  resize: none;
  border-radius: var(--radius-butoon);
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: outline-color var(--trns-fast);
  margin-bottom: 16px;
}

.modal-form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}


.modal-form-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 169px;
  height: 56px;
  padding: 16px 32px 16px 32px;
}

.agreement-text {
  color: var(--lightslate, #8E8F99);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
  display: flex; /* Щоб зробити текст в одному рядку */
  align-items: center;
}

.checkbox-container {
 
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex; 
  align-items: center; 
  justify-content: center; 
  fill: transparent;

}

.checkbox-svg rect {
  fill: var(--modal-background-color);
  stroke-width: 1.25px;
  stroke: var(--dark-color);
  transition: fill var(--trns-fast), stroke var(--trns-fast);
}

.checkmark-svg {
  position: absolute;
  opacity: 0;
  transition: opacity var(--trns-fast);
  fill: var(--light-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.checkbox :checked {
  background-color: var(--pressed-state-color);
  border: none; 
  fill: var(--light-color);

}

.modal-form-checkbox:checked ~ .checkbox-container .checkbox-svg rect {
  fill: var(--pressed-state-color);
  stroke: var(--pressed-state-color);
}

.modal-form-checkbox:checked ~ .checkbox-container .checkmark-svg {
  opacity: 1;
}

.modal-form-button {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 24px; 
min-width: 169px;
height: 56px;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
align-items: center;
line-height: 1.5; 
letter-spacing: 0.04em;
color: var(--hero-text);
cursor: pointer;
background-color: var(--primary-brand-color);
border: none;
border-radius: var(--radius-butoon); 
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover,
.modal-form-button:focus {
  background-color: #404BBF;
}

.modal-form-agreement {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
  align-items: center;
}

.modal-form-desk {
  align-items: center;
  gap: 8px;
}

.modal-form-desk-text {
  color: var(--subtle-text-color);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
}

.modal-form-link {
  color: var(--primary-brand-color);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
  color: var(--lightslate, #8E8F99);
}

.visually-hidden-modal {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: var(--lightslate, #8E8F99);
}

.checkbox-label span {
  display: inline;

.modal-form-checkbox {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background: url('./images/icons.svg#icon-checkbox') no-repeat center center;
  background-size: contain;
}

#user-privacy:checked + .checkbox-label .modal-form-checkbox {
  background: url('./images/icons.svg#icon-checkbox-checked') no-repeat center center; /* змініть цей шлях на вірний */
}


.modal-form-checkbox:checked ~ .checkbox-container .checkbox-svg rect {
  fill: #404BBF; /* Колір заповнення для чекбоксу */
  stroke: #404BBF; /* Колір обведення для чекбоксу */
}

.checkbox-container:hover,
.checkbox-container:focus {
  background-color: #404BBF; /* Колір фону для чекбоксу при наведенні та фокусі */
  border: none;
  fill: var(--light-color);
}

.modal-form-checkbox:checked ~ .checkbox-container {
  background-color: #404BBF; /* Колір фону для чекбоксу, коли він відзначений */
  border: none;
  fill: var(--light-color);
}

.modal-form-checkbox:checked + .checkbox-label .modal-form-checkbox {
  background: url('./images/icons.svg#icon-checkbox-checked') no-repeat center center; /* змініть цей шлях на вірний */
}
