

{
  "stylelint.config": {
    "extends": "stylelint-config-standard",
    "rules": {
      "no-duplicate-selectors": true
    }
  },
  "css.validate": false,
  "less.validate": false,
  "scss.validate": false
}
